body {
    background-image: url("https://images.unsplash.com/photo-1533777857889-4be7c70b33f7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHJlc3RhdXJhbnR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=900&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color:rgba(94, 97, 93, 0.9);
    }

    #container {
        background-color:rgba(149, 180, 185, 0.9);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 600px;
        height: 725px;
        border-radius: 40px;
        color: white;
        }

        form{
            display: flex;
            flex-direction: column;
            margin:20px;
            padding: 20px;
            font-family: 'Montserrat', sans-serif;
        }

        h1{
            font-family: 'Montserrat', sans-serif;
            color: #E91E63;
            align-self: center;
        }

        input{
            font-family: 'Montserrat', sans-serif;
            padding: 5px;
        }

        p{
            display: inline-block;
            font-size: 25px;
        }

        #AddTip {
                background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
                border: 0;
                border-radius: 100px;
                color: #FFFFFF;
                cursor: pointer;
                display: inline-block;
                font-size: 16px;
                line-height: 2.5;
                outline: transparent;
                text-align: center;
                text-decoration: none;
                transition: box-shadow .2s ease-in-out;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
                white-space: nowrap;
                font-family: 'Montserrat', sans-serif;
              }
              
              #AddTi:not([disabled]):focus {
                box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
              }
              
              #AddTi:not([disabled]):hover {
                box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
              }

            #btn {
                background-color:  #5E5DF0;
                border-radius: 100px;
                box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
                color: white;
                cursor: pointer;
                display: inline-block;
                text-align: center;
                text-decoration: none;
                transition: all 250ms;
                border: 0;
                font-size: 16px;
                line-height: 2.5;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
                margin-top: 5%;
                font-family: 'Montserrat', sans-serif;
              }
              
              #btn:hover {
                box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
                transform: scale(1.05) rotate(-1deg);
              }
                

                #tip{
                    font-family: 'Montserrat', sans-serif;
                    display: none;
                }

                #showTotal{
                    display: flex;
                }

                #split, #totalTip, #totalAmount{
                    font-family: 'Montserrat', sans-serif;
                    background-color: rgba(243, 247, 242, 0.911);
                    margin:20px;
                    color:black;
                    padding: 20px;
                    border-radius:10px;
                    border: 1px, solid,black;
                }
                input[type=text] {
                    appearance: none;
                    border: .2em solid #E91E63;
                    outline: none;
                    background: rgba(#E91E63, .2);
                    border-radius: 1em;
                    padding: 0.4em;
                    color: #E91E63;
                    margin-left: 39%;
                }

                input[type=number] {
                    width: 3em;
                    padding: 0.4em;
                    border: .2em solid #E91E63;
                    border-radius: 1em;
                    text-align: center;
                    color: #E91E63;
                    appearance: textfield;
                    margin: 10px;
                    }
           ::placeholder{
            color: #E91E63;
            font-family: 'Montserrat', sans-serif;
           }